{% layout 'base.html' %} {% block content %}
<article class="mb-8">
  <div class="text-center">
  <h1
    class="pt-2 pb-8 text-3xl leading-8 uppercase tracking-tight sm:text-4xl sm:leading-10"
  >
    {{ intro.title }}
  </h1>

  <p class="text-xl text-gray-800 font-display leading-8 mb-8 ">{{ intro.desc }}</p>
  </div>
  <div class="prose prose-xl text-gray-800">{{ content }}</div>
</article>

<div class="text-lg text-gray-700">Last Updated: {{ page.date | dateFormat }}</div>

<div class="text-center mt-16 mb-16 bg-blue-100"><div class="sharethis-inline-reaction-buttons"></div></div>

{% endblock %}
